creation_properties = {
    name = "${CREATOR}"
    host = "${HOST_NAME}"
}

cluster = {
  name = "${CLUSTER_NAME}"
  kubernetes_version = "1.25"
  app_pool = {
    agent_size = "Standard_B2s"
    agent_count = "${K8S_AGENT_COUNT}"
    max_pods = "50"
    os_disk_size_gb = "64"
    labels = {
      stack = "app"
    }
  }
  monitor_pool = {
    agent_size = "Standard_B2s"
    agent_count = "${K8S_MONITOR_COUNT}"
    max_pods = "50"
    os_disk_size_gb = "64"
    labels = {
      stack = "monitoring"
    }
  }
  group = {
    name = "${RESOURCE_GROUP}"
    location = "${LOCATION}"
  }
}

subscription_properties = {
  subscription_id = "${SUBSCRIPTION_ID}"
  client_id = "${SP_APPID}"
  client_secret = "${SP_PASSWORD}"
}

kubeconfig = "${KUBECONFIG}"
