**/*plan
**/.terraform.tfstate.lock.info
**/.terraform/
**/__pycache__
**/playbooks/patches
**/terraform.tfstate*
**/terraform.tfvars
**/typescript
*.fail
*.log
*.retry
*.sql*
*id_rsa*
.DS_Store
.idea/**
/bin/
/deploy-helm-utils.sh
/include/
/infrastructure/**/k8sadmin_keys.yaml
/infrastructure/**/transfer_keys.yaml
/infrastructure/**/users.yaml
/kubescape.sh
/lib/
/lib64/
/node_modules/
/node_rg.json
/pyvenv.cfg
/share
/tf-backend.config
/x.yaml
ansible_hosts
azure-vars
deploy-utils.sh
docker_tag.tmp
env*.sh
fred
kubeconfig*
nfs/setup-arm.sh
schemas
ssh_keys
xx
/sync-server/patches/
/venv/pyvenv.cfg
/venv/
/*.yaml
!/.pre-commit-config.yaml
/get-pip.py
/.devcontainer/pip.conf
/*_/
plan.out
/infrastructure/terrascan
/infrastructure/nfs-with-k8s/ping-monitor.yaml
/infrastructure/nfs-with-k8s/plan.text
/infrastructure/nfs-with-k8s/plan.txt
ca.crt
x.py
x.sh
.terraform.lock.hcl
